.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    width: 100%;
}

.liked_quotes {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}