.loader {
    position: absolute;
    width: 50px;
    height: 50px;

    border: black solid 1px;

    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-name: anim;
    animation-timing-function: steps(15);
}

@keyframes anim {
    0% {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}