.wrapper {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.category {
    padding-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom_section {
    margin-top: 25px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}